<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

<context:property-placeholder location="classpath:sports.properties"/>
	<!-- Define your beans here -->
	<bean id="myLoggerConfig"
		class="com.mostafayehia.springdemo.MyLoggerConfig"
		init-method="initLogger">
		<property name="rootLoggerLevel" value="FINE" />
		<property name="printedLoggerLevel" value="FINE" />
	</bean>

	<bean id="adviceServiceId"
		class="com.mostafayehia.springdemo.TrainingAdviceService"/>
		
    <bean id="randomAdviceServiceId"
    	 class ="com.mostafayehia.springdemo.RandomAdvice"/>

	<bean id="myCoach"
		class="com.mostafayehia.springdemo.SwimmingCoach">	
		<constructor-arg ref="randomAdviceServiceId" />
		

	</bean>

	<bean id="karateCoach"
		class="com.mostafayehia.springdemo.KarateCoach">
		<property name="adviceService" ref="adviceServiceId" />
		<property name="emailAdress"
			value="${foo.emailAdress}"></property>
		<property name="phoneNumber"
			value="${foo.number}"></property>

	</bean>


</beans>





